<div class="row-fluid">
  <div class="span12">
    <form class="well form-inline">
      <div class="input-append">
        <span style="font-size:14px; margin-right: 5px;color:#666; font-weight:bold;">Μάθετε πρώτοι τις προσφορές του <%= @vendor.name %>: </span>
        <input type="text" name="email" placeholder="Εισάγετε το email σας"><button type="submit" class="btn btn-info">Εγγραφή</button>
      </div>
    </form>
  </div>
</div>