<% provide :sidebar, 'shared/categories_menu' %>
<% provide :title, @vendor.name %>

<div class="row-fluid">
  <div class="span12">
    <h1>Προσφορές από <%= @vendor.name %></h1>
  </div>
</div>

<%= render 'sortby_links' if params[:c].nil? %>

<%= render partial: 'offers/offers', object: @offers %>